<div id="global-map-biome-editor" class="sh-biome-editor">
  <div class="sh-biome-editor__header">
    <div>
      <div class="sh-biome-editor__title">{{localize "SPACEHOLDER.GlobalMap.Biomes.EditorTitle"}}</div>
      {{#if filePath}}
        <div class="sh-biome-editor__meta">
          {{localize "SPACEHOLDER.GlobalMap.Biomes.OverridesFileLabel"}} <code>{{filePath}}</code>
        </div>
      {{/if}}
    </div>

    <div class="sh-biome-editor__actions">
      <button type="button" data-action="add-biome" class="sh-biome-editor__btn sh-biome-editor__btnAdd">{{localize "SPACEHOLDER.GlobalMap.Biomes.Actions.New"}}</button>
      <button type="button" data-action="reload" class="sh-biome-editor__btn">{{localize "SPACEHOLDER.Actions.Refresh"}}</button>
      <button type="button" data-action="reset-overrides" class="sh-biome-editor__btn sh-biome-editor__btnDanger">{{localize "SPACEHOLDER.GlobalMap.Biomes.Actions.ResetOverrides"}}</button>
      <button type="button" data-action="save" class="sh-biome-editor__btn sh-biome-editor__btnSave">{{localize "SPACEHOLDER.Actions.Save"}}</button>
    </div>
  </div>

  <div class="sh-biome-editor__tableWrap">
    <table class="sh-biome-editor__table">
      <thead>
        <tr>
          <th class="sh-biome-editor__th sh-biome-editor__th--preview">{{localize "SPACEHOLDER.GlobalMap.Biomes.Columns.Preview"}}</th>
          <th class="sh-biome-editor__th sh-biome-editor__th--id">{{localize "SPACEHOLDER.GlobalMap.Biomes.Columns.Id"}}</th>
          <th class="sh-biome-editor__th sh-biome-editor__th--rank">{{localize "SPACEHOLDER.GlobalMap.Biomes.Columns.Rank"}}</th>
          <th class="sh-biome-editor__th sh-biome-editor__th--name">{{localize "SPACEHOLDER.GlobalMap.Biomes.Columns.Name"}}</th>
          <th class="sh-biome-editor__th sh-biome-editor__th--link">{{localize "SPACEHOLDER.GlobalMap.Biomes.Columns.Link"}}</th>
          <th class="sh-biome-editor__th sh-biome-editor__th--actions" aria-label="{{localize "SPACEHOLDER.GlobalMap.Biomes.Columns.Actions"}}"></th>
        </tr>
      </thead>

      <tbody>
        {{#each biomes as |b|}}
          <tr class="sh-biome-editor__row" data-biome-id="{{b.id}}">
            <td class="sh-biome-editor__cell sh-biome-editor__cell--preview">
              <canvas
                class="sh-biome-editor__preview"
                data-preview="biome"
                data-biome-id="{{b.id}}"
                width="32"
                height="32"
              ></canvas>
            </td>

            <td class="sh-biome-editor__cell sh-biome-editor__cell--id">
              <code>{{b.id}}</code>
            </td>

            <td class="sh-biome-editor__cell sh-biome-editor__cell--rank">
              <input
                type="number"
                data-field="renderRank"
                value="{{b.renderRank}}"
                step="1"
                class="sh-biome-editor__input--rank"
              />
            </td>

            <td class="sh-biome-editor__cell sh-biome-editor__cell--name">
              <input type="text" data-field="name" value="{{b.name}}" />
            </td>

            <td class="sh-biome-editor__cell sh-biome-editor__cell--link">
              <div class="sh-biome-editor__linkWrap" data-action="biome-link-drop" data-biome-id="{{b.id}}">
                {{#if b.link}}
                  <a class="content-link" data-action="biome-link-open" data-uuid="{{b.link}}">
                    <i class="fa-solid fa-book-open"></i> {{b.linkName}}
                  </a>
                  <button
                    type="button"
                    class="icon-btn"
                    data-action="biome-link-clear"
                    data-biome-id="{{b.id}}"
                    data-tooltip="{{localize "SPACEHOLDER.Actions.Clear"}}"
                    aria-label="{{localize "SPACEHOLDER.Actions.Clear"}}"
                  ><i class="fa-solid fa-xmark"></i></button>
                {{else}}
                  <input
                    type="text"
                    data-field="link"
                    value=""
                    placeholder="{{localize "SPACEHOLDER.GlobalMap.Common.JournalUuid"}}"
                  />
                {{/if}}
              </div>
            </td>

            <td class="sh-biome-editor__cell sh-biome-editor__cell--actions">
              <div class="sh-biome-editor__rowActions">
                <button
                  type="button"
                  class="icon-btn"
                  data-action="edit-biome"
                  data-biome-id="{{b.id}}"
                  data-tooltip="{{localize "SPACEHOLDER.Actions.Edit"}}"
                  aria-label="{{localize "SPACEHOLDER.Actions.Edit"}}"
                ><i class="fa-solid fa-pen-to-square"></i></button>

                <button
                  type="button"
                  class="icon-btn danger"
                  data-action="delete-biome"
                  data-biome-id="{{b.id}}"
                  data-tooltip="{{localize "SPACEHOLDER.Actions.Delete"}}"
                  aria-label="{{localize "SPACEHOLDER.Actions.Delete"}}"
                ><i class="fa-solid fa-trash"></i></button>
              </div>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
