<div class="inventory-panel">
  <div class="rimworld-header">
    <i class="fas fa-backpack"></i>
    {{localize 'SPACEHOLDER.Tabs.Inventory'}}
  </div>

  <div class="inventory-stats">
    <div class="inventory-stat">
      <i class="fas fa-weight-hanging"></i>
      <span class="stat-label">{{localize 'SPACEHOLDER.Inventory.TotalWeight'}}</span>
      <span class="stat-value">{{totalWeight}} {{localize 'SPACEHOLDER.Units.Kg'}}</span>
    </div>
    <div class="inventory-stat">
      <i class="fas fa-boxes"></i>
      <span class="stat-label">{{localize 'SPACEHOLDER.Inventory.TotalItems'}}</span>
      <span class="stat-value">{{totalItems}}</span>
    </div>
  </div>

  <div class="inventory-controls">
    <button
      type="button"
      class="item-create-btn"
      title="{{localize 'SPACEHOLDER.Inventory.CreateItem'}}"
      data-type="item"
    >
      <i class="fas fa-plus"></i>
      <span class="btn-text">{{localize 'SPACEHOLDER.Inventory.NewItem'}}</span>
    </button>
  </div>

  <div class='inventory-list'>
    {{#each gear as |item id|}}
      <div class='inventory-item-card rimworld-header' data-item-id='{{item._id}}'>
        <div class='item-main'>
          <div class='item-image'>
            <a class='rollable' data-roll-type='item'>
              <img
                src='{{item.img}}'
                title='{{item.name}}'
                width='32'
                height='32'
              />
            </a>
          </div>
          <div class='item-info'>
            <div class='item-name'>{{item.name}}</div>
            {{#if item.system.description}}
              <div class='item-description'>{{item.system.description}}</div>
            {{/if}}
            <div class='item-details'>
              {{#if item.system.quantity}}
                <span class='item-quantity'>{{localize 'SPACEHOLDER.Inventory.Quantity'}} {{item.system.quantity}}</span>
              {{/if}}
              {{#if item.system.weight}}
                <span class='item-weight'>{{localize 'SPACEHOLDER.Inventory.ItemTotalWeight'}} {{numberFormat (multiply item.system.weight item.system.quantity) decimals=2}} {{localize 'SPACEHOLDER.Units.Kg'}}</span>
              {{/if}}
            </div>
          </div>
        </div>
        <div class='item-controls'>
          <button
            type="button"
            class='icon-btn item-edit'
            title='{{localize "SPACEHOLDER.Inventory.EditItem"}}'
            data-item-id='{{item._id}}'
          >
            <i class='fas fa-edit'></i>
          </button>
          <button
            type="button"
            class='icon-btn item-delete'
            title='{{localize "SPACEHOLDER.Inventory.DeleteItem"}}'
            data-item-id='{{item._id}}'
          >
            <i class='fas fa-trash'></i>
          </button>
        </div>
      </div>
    {{/each}}
    {{#unless gear.length}}
      <div class='empty-inventory'>
        <i class='fas fa-box-open'></i>
        <p><em>{{localize 'SPACEHOLDER.Inventory.Empty'}}</em></p>
      </div>
    {{/unless}}
  </div>
</div>
