<div class="stats-panel">
  <div class="capacities-list">
    <div class="sh-derived-ap">
      <div class="capacity-line">
        <div class="capacity-name">{{localize 'SPACEHOLDER.ActionsSystem.UI.ActionPoints'}}</div>
        <div class="capacity-value sh-derived-value">
          {{#if actionPointsCurrent}}
            <span class="ability-mod sh-derived-readonly">{{actionPointsCurrent.base}}</span>
          {{else}}
            <span class="ability-mod sh-derived-readonly">0</span>
          {{/if}}
        </div>
      </div>
      {{#if actionPointsCurrent}}
        <div class="sh-derived-hint">
          {{localize 'SPACEHOLDER.ActionsSystem.UI.CurrentAP'}}:
          {{actionPointsCurrent.value}} / {{actionPointsCurrent.max}}
        </div>
      {{/if}}
    </div>

    <div class="capacity-line">
      <div class="capacity-name">{{localize 'SPACEHOLDER.ActionsSystem.UI.Speed'}}</div>
      <div class="capacity-value sh-derived-value">
        <input type="number" name="system.speed" value="{{system.speed}}" data-dtype="Number"/>
      </div>
    </div>

    <div class="capacity-line">
      <div class="capacity-name">{{localize 'SPACEHOLDER.ActionsSystem.UI.TurnStarts'}}</div>
      <div class="capacity-value sh-derived-value">
        <input type="number" name="system.turnStarts" value="{{system.turnStarts}}" data-dtype="Number"/>
      </div>
    </div>
  </div>
</div>
