<div class="sh-actions-panel">
  <div class="sh-actions-available">
    {{#if availableActions.length}}
      <div class="sh-actions-grid">
        {{#each availableActions as |a|}}
          <button
            type="button"
            class="sh-action-btn"
            data-action="sh-action-run"
            data-action-id="{{a.id}}"
            title="{{a.label}}"
          >
            {{#if a.icon}}<i class="{{a.icon}}" aria-hidden="true"></i>{{/if}}
            <span class="sh-action-btn__label">{{a.label}}</span>
            {{#if a.apCost}}<span class="sh-action-btn__cost">{{a.apCost}}</span>{{/if}}
          </button>
        {{/each}}
      </div>
    {{else}}
      <p><em>{{localize 'SPACEHOLDER.ActionsSystem.UI.NoActions'}}</em></p>
    {{/if}}
  </div>
</div>
