<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">
  <div class="spaceholder-sheet-stack flexcol">

  <header class="sheet-header">
    <div class="sh-portrait">
      <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
      {{#if editable}}
        <button
          type="button"
          class="icon-btn sh-portrait__pick"
          data-action="sh-icon-pick"
          data-tooltip="{{localize 'SPACEHOLDER.IconPicker.Tooltips.Open'}}"
          aria-label="{{localize 'SPACEHOLDER.IconPicker.Tooltips.Open'}}"
        ><i class="fa-solid fa-icons" aria-hidden="true"></i></button>
      {{/if}}
    </div>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'SPACEHOLDER.Placeholder.Name'}}"/></h1>
      <div class="resources grid grid-2col">

        <div class="resource flex-group-center">
          <label for="system.health.value" class="resource-label">{{localize 'SPACEHOLDER.Resources.Health'}}</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.health.value" value="{{system.health.value}}" data-dtype="Number"/>
            <span> / </span>
            <input type="text" name="system.health.max" value="{{system.health.max}}" data-dtype="Number"/>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.cr" class="resource-label">{{localize 'SPACEHOLDER.Resources.CRXP'}}</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.cr" value="{{system.cr}}" data-dtype="Number"/>
            <span> / </span>
            <input type="text" disabled="true" name="system.xp" value="{{system.xp}}" data-dtype="Number"/>
          </div>
        </div>

      </div>
    </div>
  </header>

  <nav class="sheet-tabs tabs" data-group="primary" data-tooltip-direction="UP">
    {{#each sheetPrimaryTabs as |t|}}
    <a class="item" data-action="tab" data-group="primary" data-tab="{{t.id}}" data-tooltip="{{localize t.labelKey}}" aria-label="{{localize t.labelKey}}"><i class="{{t.icon}}" aria-hidden="true"></i></a>
    {{/each}}
  </nav>

  <section class="sheet-body">

    <div class="tab biography" data-group="primary" data-tab="description">
      {{#each sheetPrimaryTabs}}
        {{#if (eq id "description")}}
          {{> "systems/spaceholder/templates/partials/sh-tab-banner.hbs" tab=id group="primary" icon=icon labelKey=labelKey}}
        {{/if}}
      {{/each}}
      {{editor enrichedBiography target="system.biography" engine="prosemirror" button=true editable=editable}}
    </div>

    <div class="tab items" data-group="primary" data-tab="items">
      {{#each sheetPrimaryTabs}}
        {{#if (eq id "items")}}
          {{> "systems/spaceholder/templates/partials/sh-tab-banner.hbs" tab=id group="primary" icon=icon labelKey=labelKey}}
        {{/if}}
      {{/each}}
       {{> "systems/spaceholder/templates/actor/parts/actor-items.hbs"}}
    </div>

    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{#each sheetPrimaryTabs}}
        {{#if (eq id "effects")}}
          {{> "systems/spaceholder/templates/partials/sh-tab-banner.hbs" tab=id group="primary" icon=icon labelKey=labelKey}}
        {{/if}}
      {{/each}}
      {{> "systems/spaceholder/templates/actor/parts/actor-effects.hbs"}}
    </div>

  </section>
  </div>
</form>
