<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
    </div>
  </header>

  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="stats">Характеристики</a>
    <a class="item" data-tab="health">Здоровье</a>
  </nav>

  <section class="sheet-body">
    <div class="tab stats" data-group="primary" data-tab="stats">
      <section class="grid grid-3col">
        <aside class="sidebar">
          <div class="abilities flexcol">
            {{#each system.abilities as |ability key|}}
            <div class="ability flexrow flex-group-center">
              <label for="system.abilities.{{key}}.value" class="resource-label rollable flexlarge align-left" data-roll="d20+@abilities.{{key}}.mod" data-label="{{localize (lookup @root.config.abilities key)}}">{{localize (lookup @root.config.abilities key)}}</label>
              <input type="text" name="system.abilities.{{key}}.value" value="{{ability.value}}" data-dtype="Number"/>
              <span class="ability-mod rollable" data-roll="d20+@abilities.{{key}}.mod" data-label="{{localize (lookup @root.config.abilities key)}}">{{numberFormat ability.mod decimals=0 sign=true}}</span>
            </div>
            {{/each}}
          </div>
        </aside>
        <section class="main grid-span-2">
          {{!-- Здесь позже добавим дополнительные параметры персонажа --}}
        </section>
      </section>
    </div>

    <div class="tab health flexcol" data-group="primary" data-tab="health">
      {{> "systems/spaceholder/templates/actor/parts/actor-health.hbs"}}
    </div>
  </section>
</form>
