<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off"{{#if factionColor}} style="--faction-color: {{factionColor}};"{{/if}}>
  <div class="spaceholder-sheet-stack flexcol">
  {{> "systems/spaceholder/templates/actor/parts/actor-character-header.hbs"}}

  <section class="sheet-body sheet-body--character-primary">
    <nav class="sheet-tabs tabs sheet-tabs--character-primary" data-group="primary" data-tooltip-direction="UP">
      {{#each sheetPrimaryTabs as |t|}}
        <a class="item" data-action="tab" data-group="primary" data-tab="{{t.id}}" data-tooltip="{{localize t.labelKey}}" aria-label="{{localize t.labelKey}}"><i class="{{t.icon}}" aria-hidden="true"></i></a>
      {{/each}}
    </nav>
    <div class="tab overview" data-group="primary" data-tab="overview">
      {{#each sheetPrimaryTabs}}
        {{#if (eq id "overview")}}
          {{> "systems/spaceholder/templates/partials/sh-tab-banner.hbs" tab=id group="primary" icon=icon labelKey=labelKey}}
        {{/if}}
      {{/each}}
      <div class="sh-stats-columns">
        <div class="sh-stats-column sh-stats-column--overview-1">
          {{> "systems/spaceholder/templates/actor/parts/actor-held-items.hbs"}}
        </div>
        <div class="sh-stats-column sh-stats-column--overview-2">
          <div class="stats-panel stats-panel--overview-placeholder" aria-hidden="true"></div>
        </div>
        <div class="sh-stats-column sh-stats-column--overview-3">
          {{> "systems/spaceholder/templates/actor/parts/actor-aiming-arc.hbs"}}
        </div>
      </div>
      {{> "systems/spaceholder/templates/actor/parts/actor-actions.hbs"
          actions=favoriteActions
          emptyLabelKey="SPACEHOLDER.ActionsSystem.UI.NoFavoriteActions"
          showActionsUi=false
          showActionFavoriteToggle=false}}
    </div>

    <div class="tab actions flexcol" data-group="primary" data-tab="actions">
      {{#each sheetPrimaryTabs}}
        {{#if (eq id "actions")}}
          {{> "systems/spaceholder/templates/partials/sh-tab-banner.hbs" tab=id group="primary" icon=icon labelKey=labelKey}}
        {{/if}}
      {{/each}}
      {{> "systems/spaceholder/templates/actor/parts/actor-actions.hbs"
          actions=availableActions
          panelClass="sh-actions-panel sh-actions-panel--full"
          showCustomEditor=true
          actionsUi=actionsUi
          showActionsUi=true
          showActionFavoriteToggle=true}}
    </div>

    <div class="tab stats" data-group="primary" data-tab="stats">
      {{#each sheetPrimaryTabs}}
        {{#if (eq id "stats")}}
          {{> "systems/spaceholder/templates/partials/sh-tab-banner.hbs" tab=id group="primary" icon=icon labelKey=labelKey}}
        {{/if}}
      {{/each}}
      <div class="sh-stats-columns">
        <div class="sh-stats-column sh-stats-column--abilities">
          <div class="stats-panel">
            <div class="capacities-list">
              {{#each system.abilities as |ability key|}}
              <div class="capacity-line capacity-line--ability">
                <div class="sh-ability-block sh-ability-block--{{key}} rollable" data-roll="d20+@abilities.{{key}}.mod" data-label="{{localize (lookup @root.config.abilities key)}}">
                  <div class="sh-ability-block__chip">
                    <span class="sh-ability-block__abbr">{{localize (lookup @root.config.abilityAbbreviations key)}}</span>
                    <span class="sh-ability-block__sep" aria-hidden="true">|</span>
                    <span class="sh-ability-block__val">{{ability.value}}</span>
                  </div>
                  <div class="sh-ability-block__name">{{localize (lookup @root.config.abilities key)}}</div>
                </div>
              </div>
              {{/each}}
            </div>
          </div>
        </div>
        <div class="sh-stats-column sh-stats-column--derived-col-b">
          {{> "systems/spaceholder/templates/actor/parts/actor-stats-derived-physical-resources.hbs"}}
        </div>
        <div class="sh-stats-column sh-stats-column--derived-col-c">
          {{> "systems/spaceholder/templates/actor/parts/actor-stats-derived-coordination-mental.hbs"}}
        </div>
      </div>
    </div>

    <div class="tab health flexcol" data-group="primary" data-tab="health">
      {{#each sheetPrimaryTabs}}
        {{#if (eq id "health")}}
          {{> "systems/spaceholder/templates/partials/sh-tab-banner.hbs" tab=id group="primary" icon=icon labelKey=labelKey}}
        {{/if}}
      {{/each}}
      {{> "systems/spaceholder/templates/actor/parts/actor-health.hbs"}}
    </div>

    <div class="tab injuries flexcol" data-group="primary" data-tab="injuries">
      {{#each sheetPrimaryTabs}}
        {{#if (eq id "injuries")}}
          {{> "systems/spaceholder/templates/partials/sh-tab-banner.hbs" tab=id group="primary" icon=icon labelKey=labelKey}}
        {{/if}}
      {{/each}}
      {{> "systems/spaceholder/templates/actor/parts/actor-injuries.hbs"}}
    </div>

    <div class="tab inventory flexcol" data-group="primary" data-tab="inventory">
      {{#each sheetPrimaryTabs}}
        {{#if (eq id "inventory")}}
          {{> "systems/spaceholder/templates/partials/sh-tab-banner.hbs" tab=id group="primary" icon=icon labelKey=labelKey}}
        {{/if}}
      {{/each}}
      {{> "systems/spaceholder/templates/actor/parts/actor-inventory.hbs"}}
    </div>
  </section>
  </div>
</form>
