<form>
  <h2>{{localize "SPACEHOLDER.TokenRotator.Settings.Title"}}</h2>
  <div class="form-group">
    <label>{{localize "SPACEHOLDER.TokenRotator.Settings.SnapByDefault"}}</label>
    <input type="checkbox" name="tokenrotator.altSnapByDefault" {{#if altSnapByDefault}}checked{{/if}} />
  </div>
  <div class="form-group">
    <label>{{localize "SPACEHOLDER.TokenRotator.Settings.SmoothRotation"}}</label>
    <input type="checkbox" name="tokenrotator.smoothRotation" {{#if smoothRotation}}checked{{/if}} />
  </div>
  <div class="form-group">
    <label>{{localize "SPACEHOLDER.TokenRotator.Settings.FastPreview"}}</label>
    <input type="checkbox" name="tokenrotator.fastPreview" {{#if fastPreview}}checked{{/if}} />
  </div>
  <div class="form-group">
    <label>{{localize "SPACEHOLDER.TokenRotator.Settings.UpdateFrequency"}}</label>
    <input type="number" name="tokenrotator.rotationUpdateFrequency" value="{{rotationUpdateFrequency}}" step="1" min="1" max="120" />
  </div>
  <footer class="sheet-footer flexrow">
    <button type="submit" class="button">{{localize "SPACEHOLDER.Actions.Save"}}</button>
  </footer>
</form>
