<div class="spaceholder-weapon-tab-layout spaceholder-weapon-tab-layout--ammo" data-sh-weapon-ammo="1">
  <div class="spaceholder-weapon-tab-layout__stats flexcol">
    <div class="stats-panel spaceholder-aiming-arc-panel sh-weapon-channel-panel">
      <h3 class="spaceholder-aiming-arc-panel__title">{{localize "SPACEHOLDER.ItemWeapon.AmmoGroupProjectile"}}</h3>
      <div class="spaceholder-aiming-arc-grid">
        {{#each ammo.projectileRows as |row|}}
          <div class="spaceholder-aiming-arc-row">
            <span class="spaceholder-aiming-arc-row__label">{{row.label}}</span>
            <span class="spaceholder-aiming-arc-row__value{{#if row.text}} sh-weapon-value--text{{/if}}">{{row.display}}</span>
          </div>
        {{/each}}
      </div>
      {{#if @root.editable}}
      <button type="button" class="icon-btn spaceholder-aiming-arc-panel__edit" data-action="sh-ammo-edit-projectile">
        <i class="fa-solid fa-pen-to-square" aria-hidden="true"></i>
        <span>{{localize "SPACEHOLDER.ItemWeapon.EditAmmoProjectile"}}</span>
      </button>
      {{/if}}
    </div>

    <div class="stats-panel spaceholder-aiming-arc-panel sh-weapon-channel-panel">
      <h3 class="spaceholder-aiming-arc-panel__title">{{localize "SPACEHOLDER.ItemWeapon.AmmoGroupResource"}}</h3>
      <div class="spaceholder-aiming-arc-grid">
        {{#each ammo.resourceRows as |row|}}
          <div class="spaceholder-aiming-arc-row{{#if row.multiline}} spaceholder-aiming-arc-row--deviation{{/if}}">
            <span class="spaceholder-aiming-arc-row__label">{{row.label}}</span>
            <span class="spaceholder-aiming-arc-row__value{{#if row.text}} sh-weapon-value--text{{/if}}{{#if row.multiline}} sh-weapon-value--multiline{{/if}}">{{row.display}}</span>
          </div>
        {{/each}}
      </div>
      {{#if @root.editable}}
      <button type="button" class="icon-btn spaceholder-aiming-arc-panel__edit" data-action="sh-ammo-edit-resource">
        <i class="fa-solid fa-pen-to-square" aria-hidden="true"></i>
        <span>{{localize "SPACEHOLDER.ItemWeapon.EditAmmoResource"}}</span>
      </button>
      {{/if}}
    </div>
  </div>

  <div class="spaceholder-weapon-tab-layout__attacks flexcol">
    <div class="stats-panel spaceholder-aiming-arc-panel sh-weapon-channel-panel">
      <h3 class="spaceholder-aiming-arc-panel__title">{{localize "SPACEHOLDER.ItemWeapon.AmmoSideTitle"}}</h3>
      <p class="spaceholder-aiming-arc-panel__hint">{{localize "SPACEHOLDER.ItemWeapon.AmmoSideHint"}}</p>
    </div>
  </div>
</div>
