<div class="tab scrollable {{#if tab.active}} active{{/if}}" data-group="{{group}}" data-tab="spaceholderPointer">
  <div class="form-group">
    <label>{{localize "SPACEHOLDER.TokenPointer.Settings.PointerType"}}</label>
    <select name="flags.spaceholder.tokenpointer.pointerType">
      <option value="arrow" {{#if (eq pointerType 'arrow')}}selected{{/if}}>{{localize "SPACEHOLDER.TokenPointer.PointerType.Arrow"}}</option>
      <option value="line" {{#if (eq pointerType 'line')}}selected{{/if}}>{{localize "SPACEHOLDER.TokenPointer.PointerType.Line"}}</option>
      <option value="marker" {{#if (eq pointerType 'marker')}}selected{{/if}}>{{localize "SPACEHOLDER.TokenPointer.PointerType.Marker"}}</option>
      <option value="markerV2" {{#if (eq pointerType 'markerV2')}}selected{{/if}}>{{localize "SPACEHOLDER.TokenPointer.PointerType.MarkerV2"}}</option>
    </select>
  </div>
  <div class="form-group">
    <label>{{localize "SPACEHOLDER.TokenPointer.Settings.Color"}}</label>
    <input type="color" name="flags.spaceholder.tokenpointer.color" value="{{color}}" />
  </div>
  <div class="form-group">
    <label>{{localize "SPACEHOLDER.TokenPointer.Settings.Distance"}}</label>
    <input type="number" name="flags.spaceholder.tokenpointer.distance" value="{{distance}}" step="0.05" />
  </div>
  <div class="form-group">
    <label>{{localize "SPACEHOLDER.TokenPointer.Settings.Scale"}}</label>
    <input type="number" name="flags.spaceholder.tokenpointer.scale" value="{{scale}}" step="0.05" />
  </div>
  <div class="form-group">
    <label>{{localize "SPACEHOLDER.TokenPointer.Settings.Mode"}}</label>
    <select name="flags.spaceholder.tokenpointer.mode">
      <option value="0" {{#if (eq mode 0)}}selected{{/if}}>{{localize "SPACEHOLDER.TokenPointer.Mode.Off"}}</option>
      <option value="1" {{#if (eq mode 1)}}selected{{/if}}>{{localize "SPACEHOLDER.TokenPointer.Mode.Hover"}}</option>
      <option value="2" {{#if (eq mode 2)}}selected{{/if}}>{{localize "SPACEHOLDER.TokenPointer.Mode.Always"}}</option>
    </select>
  </div>
  <div class="form-group">
    <label>{{localize "SPACEHOLDER.TokenPointer.Settings.LockToGrid"}}</label>
    <input type="checkbox" name="flags.spaceholder.tokenpointer.lockToGrid" {{#if lockToGrid}}checked{{/if}} />
  </div>
  <div class="form-group">
    <label>{{localize "SPACEHOLDER.TokenPointer.Settings.UnderToken"}}</label>
    <input type="checkbox" name="flags.spaceholder.tokenpointer.underToken" {{#if underToken}}checked{{/if}} />
  </div>
  <div class="form-group">
    <label>{{localize "SPACEHOLDER.TokenPointer.Settings.DisableATR"}}</label>
    <input type="checkbox" name="flags.spaceholder.tokenpointer.disableAutoRotation" {{#if disableAutoRotation}}checked{{/if}} title="{{localize "SPACEHOLDER.TokenPointer.Disabled.ATR"}}" />
  </div>
</div>
