<form class="{{cssClass}} flexcol" autocomplete="off">
  <div class="spaceholder-sheet-stack flexcol">
  <header class="sheet-header">
    <img
      class="profile-img"
      src="{{itemImgSrc}}"
      data-edit="img"
      title="{{item.name}}"
    />
    <div class="header-fields">
      <h1 class="charname">
        <input
          name="name"
          type="text"
          value="{{item.name}}"
          placeholder="{{localize 'SPACEHOLDER.Placeholder.Name'}}"
        />
      </h1>
      <div class="grid grid-2col">
        <div class="resource">
          <label class="resource-label">{{localize 'SPACEHOLDER.Resources.Quantity'}}</label>
          <input
            type="text"
            name="system.quantity"
            value="{{system.quantity}}"
            data-dtype="Number"
          />
        </div>
        <div class="resource">
          <label class="resource-label">{{localize 'SPACEHOLDER.Resources.Weight'}}</label>
          <input
            type="text"
            name="system.weight"
            value="{{system.weight}}"
            data-dtype="Number"
          />
        </div>
      </div>
    </div>
  </header>

  <section class="sheet-body sheet-body--item-primary">
    <nav class="sheet-tabs tabs sheet-tabs--item-primary" data-group="primary" data-tooltip-direction="UP">
      {{#each sheetPrimaryTabs as |t|}}
      <a class="item" data-action="tab" data-group="primary" data-tab="{{t.id}}" data-tooltip="{{localize t.labelKey}}" aria-label="{{localize t.labelKey}}"><i class="{{t.icon}}" aria-hidden="true"></i></a>
      {{/each}}
    </nav>

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{#each sheetPrimaryTabs}}
        {{#if (eq id "description")}}
          {{> "systems/spaceholder/templates/partials/sh-tab-banner.hbs" tab=id group="primary" icon=icon labelKey=labelKey}}
        {{/if}}
      {{/each}}
      {{editor
        enrichedDescription
        target="system.description"
        engine="prosemirror"
        button=true
        editable=editable
      }}
    </div>

    {{!-- Tags Tab: включаем группы механик --}}
    <div class="tab tags" data-group="primary" data-tab="tags">
      {{#each sheetPrimaryTabs}}
        {{#if (eq id "tags")}}
          {{> "systems/spaceholder/templates/partials/sh-tab-banner.hbs" tab=id group="primary" icon=icon labelKey=labelKey}}
        {{/if}}
      {{/each}}
      <div class="section-header">
        <i class="fas fa-tags"></i>
        {{localize 'SPACEHOLDER.ItemTags.SectionTitle'}}
      </div>
      <p class="sh-item-tags-hint"><em>{{localize 'SPACEHOLDER.ItemTags.Hint'}}</em></p>
      <div class="sh-item-tags-list">
        <label class="sh-item-tag-row">
          <input type="checkbox" name="system.itemTags.isArmor" data-dtype="Boolean" {{#if system.itemTags.isArmor}}checked{{/if}} />
          <span>{{localize 'SPACEHOLDER.ItemTags.Armor'}}</span>
        </label>
        <label class="sh-item-tag-row">
          <input type="checkbox" name="system.itemTags.isActions" data-dtype="Boolean" {{#if system.itemTags.isActions}}checked{{/if}} />
          <span>{{localize 'SPACEHOLDER.ItemTags.Actions'}}</span>
        </label>
        <label class="sh-item-tag-row">
          <input type="checkbox" name="system.itemTags.isModifiers" data-dtype="Boolean" {{#if system.itemTags.isModifiers}}checked{{/if}} />
          <span>{{localize 'SPACEHOLDER.ItemTags.Modifiers'}}</span>
        </label>
      </div>
      {{#if hasArmorTag}}
      <div class="sh-item-tags-wearable-defaults">
        <div class="sh-actions-subheader">{{localize 'SPACEHOLDER.ActionsSystem.UI.WearableDefaults'}}</div>
        <div class="sh-wearable-default-actions">
          <div class="sh-wearable-default-actions__row">
            <div class="sh-wearable-default-actions__title">{{localize 'SPACEHOLDER.ActionsSystem.Wearable.EquipShort'}}</div>
            <label class="sh-custom-action-flag">
              <input type="checkbox" name="system.defaultActions.equip.showInCombat" data-dtype="Boolean" {{#if system.defaultActions.equip.showInCombat}}checked{{/if}} />
              <span>{{localize 'SPACEHOLDER.ActionsSystem.UI.ShowInCombat'}}</span>
            </label>
            <label class="sh-custom-action-flag">
              <input type="checkbox" name="system.defaultActions.equip.showInQuickbar" data-dtype="Boolean" {{#if system.defaultActions.equip.showInQuickbar}}checked{{/if}} />
              <span>{{localize 'SPACEHOLDER.ActionsSystem.UI.ShowInQuickbar'}}</span>
            </label>
          </div>
          <div class="sh-wearable-default-actions__row">
            <div class="sh-wearable-default-actions__title">{{localize 'SPACEHOLDER.ActionsSystem.Wearable.UnequipShort'}}</div>
            <label class="sh-custom-action-flag">
              <input type="checkbox" name="system.defaultActions.unequip.showInCombat" data-dtype="Boolean" {{#if system.defaultActions.unequip.showInCombat}}checked{{/if}} />
              <span>{{localize 'SPACEHOLDER.ActionsSystem.UI.ShowInCombat'}}</span>
            </label>
            <label class="sh-custom-action-flag">
              <input type="checkbox" name="system.defaultActions.unequip.showInQuickbar" data-dtype="Boolean" {{#if system.defaultActions.unequip.showInQuickbar}}checked{{/if}} />
              <span>{{localize 'SPACEHOLDER.ActionsSystem.UI.ShowInQuickbar'}}</span>
            </label>
          </div>
        </div>
      </div>
      {{/if}}
    </div>

    {{#if hasArmorTag}}
    {{!-- Coverage Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      {{#each sheetPrimaryTabs}}
        {{#if (eq id "attributes")}}
          {{> "systems/spaceholder/templates/partials/sh-tab-banner.hbs" tab=id group="primary" icon=icon labelKey=labelKey}}
        {{/if}}
      {{/each}}
      <div class="wearable-coverage-management-container">
        <div class="wearable-coverage-management-row">
          <button type="button" class="wearable-anatomy-current-btn {{#unless selectedAnatomyId}}wearable-anatomy-current-btn--empty{{/unless}}" data-action="wearable-select-anatomy-group" data-item-uuid="{{item.uuid}}" title="{{localize 'SPACEHOLDER.Wearable.SelectAnatomy'}}">
            {{anatomyDisplayName}}
          </button>
          {{#if anatomyGroupTags.length}}
            <div class="wearable-anatomy-tags wearable-coverage-tags-inline">
              {{#each anatomyGroupTags as |tag|}}
                <span class="wearable-anatomy-tag">{{tag}}</span>
              {{/each}}
            </div>
          {{/if}}
          <span class="wearable-coverage-spacer"></span>
          <div class="wearable-coverage-actions">
            <button type="button" class="anatomy-icon-btn wearable-coverage-edit-mode-btn {{#if wearableCoverageEditMode}}active{{/if}}" data-action="wearable-coverage-edit-mode" title="{{localize 'SPACEHOLDER.Wearable.CoverageEditMode'}}">
              <i class="fas fa-edit"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="wearable-coverage-main-layout">
        <div class="wearable-coverage-left-column">
          {{#if anatomyDataForEditor}}
            <div class="wearable-coverage-editor-wrap" data-wearable-coverage-edit-mode="{{wearableCoverageEditMode}}">
              <div class="wearable-coverage-editor-container" data-wearable-coverage-editor="container"></div>
            </div>
          {{else}}
            <div class="wearable-coverage-placeholder">
              <p><em>{{localize 'SPACEHOLDER.Wearable.SelectAnatomyFirst'}}</em></p>
            </div>
          {{/if}}
        </div>

        <div class="wearable-coverage-right-column">
          <div class="wearable-coverage-panel">
            <div class="wearable-coverage-panel-header">{{localize 'SPACEHOLDER.Wearable.CoverageList'}}</div>
            <div class="wearable-coverage-list">
              {{#if coveredList.length}}
                {{#each coveredList as |entry|}}
                  <div class="wearable-coverage-card" data-coverage-part-id="{{entry.partId}}">
                    <div class="wearable-coverage-card-main">
                      <span class="wearable-coverage-card-line">{{entry.partName}}, {{localize 'SPACEHOLDER.Wearable.ArmorValue'}}: {{entry.armorValue}}</span>
                    </div>
                    <div class="wearable-coverage-card-actions">
                      <button type="button" class="icon-btn wearable-coverage-edit-btn" data-action="wearable-coverage-edit" data-part-id="{{entry.partId}}" data-part-name="{{entry.partName}}" title="{{localize 'SPACEHOLDER.Actions.Edit'}}"><i class="fas fa-pen"></i></button>
                      <button type="button" class="icon-btn wearable-coverage-remove-btn" data-action="wearable-coverage-remove" data-part-id="{{entry.partId}}" title="{{localize 'SPACEHOLDER.Actions.Delete'}}"><i class="fas fa-trash"></i></button>
                    </div>
                  </div>
                {{/each}}
              {{else}}
                <p><em>{{localize 'SPACEHOLDER.Wearable.CoverageEmpty'}}</em></p>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
    </div>
    {{/if}}

    {{#if hasActionsTag}}
    {{!-- Actions Tab --}}
    <div class="tab actions" data-group="primary" data-tab="actions">
      {{#each sheetPrimaryTabs}}
        {{#if (eq id "actions")}}
          {{> "systems/spaceholder/templates/partials/sh-tab-banner.hbs" tab=id group="primary" icon=icon labelKey=labelKey}}
        {{/if}}
      {{/each}}
      {{> "systems/spaceholder/templates/item/parts/item-actions.hbs"}}
    </div>
    {{/if}}

    {{#if hasModifiersTag}}
    {{!-- Modifiers Tab --}}
    <div class="tab" data-group="primary" data-tab="modifiers">
      {{#each sheetPrimaryTabs}}
        {{#if (eq id "modifiers")}}
          {{> "systems/spaceholder/templates/partials/sh-tab-banner.hbs" tab=id group="primary" icon=icon labelKey=labelKey}}
        {{/if}}
      {{/each}}
      <div class="section-header">
        <i class="fas fa-dumbbell"></i>
        {{localize 'SPACEHOLDER.Wearable.ModifiersSection'}}
      </div>

      <div class="wearable-modifiers-block">
        <h3>{{localize 'SPACEHOLDER.Modifiers.Abilities'}}</h3>
        <div class="wearable-modifiers-table">
          <div class="wearable-modifiers-header">
            <span class="col-target">{{localize 'SPACEHOLDER.Modifiers.Target'}}</span>
            <span class="col-value">{{localize 'SPACEHOLDER.Modifiers.Value'}}</span>
          </div>
          {{#each system.modifiers.abilities as |mod idx|}}
            <div class="wearable-modifiers-row">
              <span class="col-target">
                <select name="system.modifiers.abilities.{{idx}}.targetId">
                  {{#each ../modifierTargets.abilities as |t|}}
                    <option value="{{t.id}}" {{#if (eq ../../mod.targetId t.id)}}selected{{/if}}>
                      {{localize t.label}}
                    </option>
                  {{/each}}
                </select>
              </span>
              <span class="col-value">
                <input
                  type="number"
                  name="system.modifiers.abilities.{{idx}}.value"
                  value="{{mod.value}}"
                  data-dtype="Number"
                />
                <input
                  type="hidden"
                  name="system.modifiers.abilities.{{idx}}.mode"
                  value="{{mod.mode}}"
                />
              </span>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
    {{/if}}
  </section>
  </div>
</form>
