<form class="{{cssClass}} flexcol" autocomplete="off">
  <div class="spaceholder-sheet-stack flexcol">
  {{> "systems/spaceholder/templates/item/parts/item-sheet-header.hbs"}}

  <section class="sheet-body sheet-body--item-primary">
    <nav class="sheet-tabs tabs sheet-tabs--item-primary" data-group="primary" data-tooltip-direction="UP">
      {{#each sheetPrimaryTabs as |t|}}
      <a class="item" data-action="tab" data-group="primary" data-tab="{{t.id}}" data-tooltip="{{localize t.labelKey}}" aria-label="{{localize t.labelKey}}"><i class="{{t.icon}}" aria-hidden="true"></i></a>
      {{/each}}
    </nav>

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{#each sheetPrimaryTabs}}
        {{#if (eq id "description")}}
          {{> "systems/spaceholder/templates/partials/sh-tab-banner.hbs" tab=id group="primary" icon=icon labelKey=labelKey}}
        {{/if}}
      {{/each}}
      {{> "systems/spaceholder/templates/item/parts/item-description-prosemirror.hbs"}}
    </div>

    {{#if hasMeleeTag}}
    <div class="tab" data-group="primary" data-tab="melee">
      {{#each sheetPrimaryTabs}}
        {{#if (eq id "melee")}}
          {{> "systems/spaceholder/templates/partials/sh-tab-banner.hbs" tab=id group="primary" icon=icon labelKey=labelKey}}
        {{/if}}
      {{/each}}
      {{> "systems/spaceholder/templates/item/parts/item-weapon-channel-tab.hbs" channelKey="melee" ch=system.weapon.melee}}
    </div>
    {{/if}}

    {{#if hasRangedTag}}
    <div class="tab" data-group="primary" data-tab="ranged">
      {{#each sheetPrimaryTabs}}
        {{#if (eq id "ranged")}}
          {{> "systems/spaceholder/templates/partials/sh-tab-banner.hbs" tab=id group="primary" icon=icon labelKey=labelKey}}
        {{/if}}
      {{/each}}
      {{> "systems/spaceholder/templates/item/parts/item-weapon-channel-tab.hbs" channelKey="ranged" ch=system.weapon.ranged}}
    </div>
    {{/if}}

    {{#if hasThrownTag}}
    <div class="tab" data-group="primary" data-tab="thrown">
      {{#each sheetPrimaryTabs}}
        {{#if (eq id "thrown")}}
          {{> "systems/spaceholder/templates/partials/sh-tab-banner.hbs" tab=id group="primary" icon=icon labelKey=labelKey}}
        {{/if}}
      {{/each}}
      {{> "systems/spaceholder/templates/item/parts/item-weapon-channel-tab.hbs" channelKey="thrown" ch=system.weapon.thrown}}
    </div>
    {{/if}}

    {{#if hasAmmoTag}}
    <div class="tab" data-group="primary" data-tab="ammo">
      {{#each sheetPrimaryTabs}}
        {{#if (eq id "ammo")}}
          {{> "systems/spaceholder/templates/partials/sh-tab-banner.hbs" tab=id group="primary" icon=icon labelKey=labelKey}}
        {{/if}}
      {{/each}}
      {{> "systems/spaceholder/templates/item/parts/item-weapon-ammo-tab.hbs" ammo=system.weapon.ammo}}
    </div>
    {{/if}}

    {{#if hasArmorTag}}
    {{!-- Coverage Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      {{#each sheetPrimaryTabs}}
        {{#if (eq id "attributes")}}
          {{> "systems/spaceholder/templates/partials/sh-tab-banner.hbs" tab=id group="primary" icon=icon labelKey=labelKey}}
        {{/if}}
      {{/each}}
      <div class="wearable-coverage-management-container">
        <div class="wearable-coverage-management-row">
          <button type="button" class="wearable-anatomy-current-btn {{#unless selectedAnatomyId}}wearable-anatomy-current-btn--empty{{/unless}}" data-action="wearable-select-anatomy" data-item-uuid="{{item.uuid}}" title="{{localize 'SPACEHOLDER.Wearable.SelectAnatomy'}}">
            {{anatomyDisplayName}}
          </button>
          <span class="wearable-coverage-spacer"></span>
          <div class="wearable-coverage-actions">
            <button type="button" class="anatomy-icon-btn wearable-coverage-edit-mode-btn {{#if wearableCoverageEditMode}}active{{/if}}" data-action="wearable-coverage-edit-mode" title="{{localize 'SPACEHOLDER.Wearable.CoverageEditMode'}}">
              <i class="fas fa-edit"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="wearable-coverage-main-layout">
        <div class="wearable-coverage-left-column">
          {{#if anatomyDataForEditor}}
            <div class="wearable-coverage-editor-wrap" data-wearable-coverage-edit-mode="{{wearableCoverageEditMode}}">
              <div class="wearable-coverage-editor-container" data-wearable-coverage-editor="container"></div>
            </div>
          {{else}}
            <div class="wearable-coverage-placeholder">
              <p><em>{{localize 'SPACEHOLDER.Wearable.SelectAnatomyFirst'}}</em></p>
            </div>
          {{/if}}
        </div>

        <div class="wearable-coverage-right-column">
          <div class="wearable-coverage-panel">
            <div class="wearable-coverage-panel-header">{{localize 'SPACEHOLDER.Wearable.CoverageList'}}</div>
            <div class="wearable-coverage-list">
              {{#if coveredList.length}}
                {{#each coveredList as |entry|}}
                  <div class="wearable-coverage-card" data-coverage-part-id="{{entry.partId}}">
                    <div class="wearable-coverage-card-main">
                      <span class="wearable-coverage-card-line">{{entry.partName}}, {{localize 'SPACEHOLDER.Wearable.ArmorValue'}}: {{entry.armorValue}}</span>
                    </div>
                    <div class="wearable-coverage-card-actions">
                      <button type="button" class="icon-btn wearable-coverage-edit-btn" data-action="wearable-coverage-edit" data-part-id="{{entry.partId}}" data-part-name="{{entry.partName}}" title="{{localize 'SPACEHOLDER.Actions.Edit'}}"><i class="fas fa-pen"></i></button>
                      <button type="button" class="icon-btn wearable-coverage-remove-btn" data-action="wearable-coverage-remove" data-part-id="{{entry.partId}}" title="{{localize 'SPACEHOLDER.Actions.Delete'}}"><i class="fas fa-trash"></i></button>
                    </div>
                  </div>
                {{/each}}
              {{else}}
                <p><em>{{localize 'SPACEHOLDER.Wearable.CoverageEmpty'}}</em></p>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
    </div>
    {{/if}}

    {{#if hasActionsTag}}
    {{!-- Actions Tab --}}
    <div class="tab actions" data-group="primary" data-tab="actions">
      {{#each sheetPrimaryTabs}}
        {{#if (eq id "actions")}}
          {{> "systems/spaceholder/templates/partials/sh-tab-banner.hbs" tab=id group="primary" icon=icon labelKey=labelKey}}
        {{/if}}
      {{/each}}
      {{> "systems/spaceholder/templates/item/parts/item-actions.hbs"}}
    </div>
    {{/if}}

    {{#if hasModifiersTag}}
    {{!-- Modifiers Tab --}}
    <div class="tab" data-group="primary" data-tab="modifiers">
      {{#each sheetPrimaryTabs}}
        {{#if (eq id "modifiers")}}
          {{> "systems/spaceholder/templates/partials/sh-tab-banner.hbs" tab=id group="primary" icon=icon labelKey=labelKey}}
        {{/if}}
      {{/each}}
      <div class="section-header">
        <i class="fas fa-dumbbell"></i>
        {{localize 'SPACEHOLDER.Wearable.ModifiersSection'}}
      </div>

      <div class="wearable-modifiers-block">
        <h3>{{localize 'SPACEHOLDER.Modifiers.Abilities'}}</h3>
        <div class="wearable-modifiers-table">
          <div class="wearable-modifiers-header">
            <span class="col-target">{{localize 'SPACEHOLDER.Modifiers.Target'}}</span>
            <span class="col-value">{{localize 'SPACEHOLDER.Modifiers.Value'}}</span>
          </div>
          {{#each system.modifiers.abilities as |mod idx|}}
            <div class="wearable-modifiers-row">
              <span class="col-target">
                <select name="system.modifiers.abilities.{{idx}}.targetId">
                  {{#each ../modifierTargets.abilities as |t|}}
                    <option value="{{t.id}}" {{#if (eq ../../mod.targetId t.id)}}selected{{/if}}>
                      {{localize t.label}}
                    </option>
                  {{/each}}
                </select>
              </span>
              <span class="col-value">
                <input
                  type="number"
                  name="system.modifiers.abilities.{{idx}}.value"
                  value="{{mod.value}}"
                  data-dtype="Number"
                />
                <input
                  type="hidden"
                  name="system.modifiers.abilities.{{idx}}.mode"
                  value="{{mod.mode}}"
                />
              </span>
            </div>
          {{/each}}
        </div>
        {{#unless system.modifiers.abilities.length}}
          <p><em>{{localize 'SPACEHOLDER.Modifiers.Empty'}}</em></p>
        {{/unless}}
      </div>

      <div class="wearable-modifiers-block">
        <h3>{{localize 'SPACEHOLDER.Modifiers.Derived'}}</h3>
        <div class="wearable-modifiers-table">
          <div class="wearable-modifiers-header">
            <span class="col-target">{{localize 'SPACEHOLDER.Modifiers.Target'}}</span>
            <span class="col-value">{{localize 'SPACEHOLDER.Modifiers.Value'}}</span>
          </div>
          {{#each system.modifiers.derived as |mod idx|}}
            <div class="wearable-modifiers-row">
              <span class="col-target">
                <select name="system.modifiers.derived.{{idx}}.targetId">
                  {{#each ../modifierTargets.derived as |t|}}
                    <option value="{{t.id}}" {{#if (eq ../../mod.targetId t.id)}}selected{{/if}}>
                      {{localize t.label}}
                    </option>
                  {{/each}}
                </select>
              </span>
              <span class="col-value">
                <input
                  type="number"
                  name="system.modifiers.derived.{{idx}}.value"
                  value="{{mod.value}}"
                  data-dtype="Number"
                />
                <input
                  type="hidden"
                  name="system.modifiers.derived.{{idx}}.mode"
                  value="{{mod.mode}}"
                />
              </span>
            </div>
          {{/each}}
        </div>
        {{#unless system.modifiers.derived.length}}
          <p><em>{{localize 'SPACEHOLDER.Modifiers.Empty'}}</em></p>
        {{/unless}}
      </div>

      <div class="wearable-modifiers-block">
        <h3>{{localize 'SPACEHOLDER.Modifiers.Params'}}</h3>
        <div class="wearable-modifiers-table">
          <div class="wearable-modifiers-header">
            <span class="col-target">{{localize 'SPACEHOLDER.Modifiers.Target'}}</span>
            <span class="col-value">{{localize 'SPACEHOLDER.Modifiers.Value'}}</span>
          </div>
          {{#each system.modifiers.params as |mod idx|}}
            <div class="wearable-modifiers-row">
              <span class="col-target">
                <select name="system.modifiers.params.{{idx}}.targetId">
                  {{#each ../modifierTargets.params as |t|}}
                    <option value="{{t.id}}" {{#if (eq ../../mod.targetId t.id)}}selected{{/if}}>
                      {{localize t.label}}
                    </option>
                  {{/each}}
                </select>
              </span>
              <span class="col-value">
                <input
                  type="number"
                  name="system.modifiers.params.{{idx}}.value"
                  value="{{mod.value}}"
                  data-dtype="Number"
                />
                <input
                  type="hidden"
                  name="system.modifiers.params.{{idx}}.mode"
                  value="{{mod.mode}}"
                />
              </span>
            </div>
          {{/each}}
        </div>
        {{#unless system.modifiers.params.length}}
          <p><em>{{localize 'SPACEHOLDER.Modifiers.Empty'}}</em></p>
        {{/unless}}
      </div>
    </div>
    {{/if}}

    {{!-- Settings tab (id tags): вес, группы механик — всегда последняя вкладка --}}
    <div class="tab tags" data-group="primary" data-tab="tags">
      {{#each sheetPrimaryTabs}}
        {{#if (eq id "tags")}}
          {{> "systems/spaceholder/templates/partials/sh-tab-banner.hbs" tab=id group="primary" icon=icon labelKey=labelKey}}
        {{/if}}
      {{/each}}
      <div class="sh-item-settings-panels">
        <div class="sh-item-settings-panel">
          <div class="form-group sh-item-settings-weight">
            <label for="sh-item-settings-weight-input">{{localize 'SPACEHOLDER.Resources.Weight'}}</label>
            <div class="form-fields">
              <input
                id="sh-item-settings-weight-input"
                type="text"
                name="system.weight"
                value="{{system.weight}}"
                data-dtype="Number"
              />
            </div>
          </div>
        </div>
        <div class="sh-item-settings-panel">
          <div class="section-header">
            <i class="fas fa-tags"></i>
            {{localize 'SPACEHOLDER.ItemTags.SectionTitle'}}
          </div>
          <p class="sh-item-tags-hint"><em>{{localize 'SPACEHOLDER.ItemTags.Hint'}}</em></p>
          <div class="sh-item-tags-list">
            <label class="sh-item-tag-row">
              <input type="checkbox" data-sh-item-tag="isArmor" {{#unless editable}}disabled{{/unless}} {{#if system.itemTags.isArmor}}checked{{/if}} />
              <span>{{localize 'SPACEHOLDER.ItemTags.Armor'}}</span>
            </label>
            <label class="sh-item-tag-row">
              <input type="checkbox" data-sh-item-tag="isActions" {{#unless editable}}disabled{{/unless}} {{#if system.itemTags.isActions}}checked{{/if}} />
              <span>{{localize 'SPACEHOLDER.ItemTags.Actions'}}</span>
            </label>
            <label class="sh-item-tag-row">
              <input type="checkbox" data-sh-item-tag="isModifiers" {{#unless editable}}disabled{{/unless}} {{#if system.itemTags.isModifiers}}checked{{/if}} />
              <span>{{localize 'SPACEHOLDER.ItemTags.Modifiers'}}</span>
            </label>
            <label class="sh-item-tag-row">
              <input type="checkbox" data-sh-item-tag="isMelee" {{#unless editable}}disabled{{/unless}} {{#if system.itemTags.isMelee}}checked{{/if}} />
              <span>{{localize 'SPACEHOLDER.ItemWeapon.Inner.Melee'}}</span>
            </label>
            <label class="sh-item-tag-row">
              <input type="checkbox" data-sh-item-tag="isRanged" {{#unless editable}}disabled{{/unless}} {{#if system.itemTags.isRanged}}checked{{/if}} />
              <span>{{localize 'SPACEHOLDER.ItemWeapon.Inner.Ranged'}}</span>
            </label>
            <label class="sh-item-tag-row">
              <input type="checkbox" data-sh-item-tag="isThrown" {{#unless editable}}disabled{{/unless}} {{#if system.itemTags.isThrown}}checked{{/if}} />
              <span>{{localize 'SPACEHOLDER.ItemWeapon.Inner.Thrown'}}</span>
            </label>
            <label class="sh-item-tag-row">
              <input type="checkbox" data-sh-item-tag="isAmmo" {{#unless editable}}disabled{{/unless}} {{#if system.itemTags.isAmmo}}checked{{/if}} />
              <span>{{localize 'SPACEHOLDER.ItemTags.Ammo'}}</span>
            </label>
          </div>
          {{#if editable}}
          <div class="sh-item-tags-apply-row">
            <button type="button" class="sh-item-tags-apply-btn" data-action="sh-item-tags-apply">
              <i class="fas fa-check" aria-hidden="true"></i>
              {{localize 'SPACEHOLDER.Actions.Apply'}}
            </button>
          </div>
          {{/if}}
          {{#if hasArmorTag}}
          <div class="sh-item-tags-wearable-defaults">
            <div class="sh-actions-subheader">{{localize 'SPACEHOLDER.ActionsSystem.UI.WearableDefaults'}}</div>
            <div class="sh-wearable-default-actions">
              <div class="sh-wearable-default-actions__row">
                <div class="sh-wearable-default-actions__title">{{localize 'SPACEHOLDER.ActionsSystem.Wearable.EquipShort'}}</div>
                <label class="sh-custom-action-flag">
                  <input type="checkbox" name="system.defaultActions.equip.showInCombat" data-dtype="Boolean" {{#if system.defaultActions.equip.showInCombat}}checked{{/if}} />
                  <span>{{localize 'SPACEHOLDER.ActionsSystem.UI.ShowInCombat'}}</span>
                </label>
                <label class="sh-custom-action-flag">
                  <input type="checkbox" name="system.defaultActions.equip.showInQuickbar" data-dtype="Boolean" {{#if system.defaultActions.equip.showInQuickbar}}checked{{/if}} />
                  <span>{{localize 'SPACEHOLDER.ActionsSystem.UI.ShowInQuickbar'}}</span>
                </label>
              </div>
              <div class="sh-wearable-default-actions__row">
                <div class="sh-wearable-default-actions__title">{{localize 'SPACEHOLDER.ActionsSystem.Wearable.UnequipShort'}}</div>
                <label class="sh-custom-action-flag">
                  <input type="checkbox" name="system.defaultActions.unequip.showInCombat" data-dtype="Boolean" {{#if system.defaultActions.unequip.showInCombat}}checked{{/if}} />
                  <span>{{localize 'SPACEHOLDER.ActionsSystem.UI.ShowInCombat'}}</span>
                </label>
                <label class="sh-custom-action-flag">
                  <input type="checkbox" name="system.defaultActions.unequip.showInQuickbar" data-dtype="Boolean" {{#if system.defaultActions.unequip.showInQuickbar}}checked{{/if}} />
                  <span>{{localize 'SPACEHOLDER.ActionsSystem.UI.ShowInQuickbar'}}</span>
                </label>
              </div>
              <div class="sh-wearable-default-actions__row">
                <div class="sh-wearable-default-actions__title">{{localize 'SPACEHOLDER.ActionsSystem.Wearable.HoldShort'}}</div>
                <label class="sh-custom-action-flag">
                  <input type="checkbox" name="system.defaultActions.hold.showInCombat" data-dtype="Boolean" {{#if system.defaultActions.hold.showInCombat}}checked{{/if}} />
                  <span>{{localize 'SPACEHOLDER.ActionsSystem.UI.ShowInCombat'}}</span>
                </label>
                <label class="sh-custom-action-flag">
                  <input type="checkbox" name="system.defaultActions.hold.showInQuickbar" data-dtype="Boolean" {{#if system.defaultActions.hold.showInQuickbar}}checked{{/if}} />
                  <span>{{localize 'SPACEHOLDER.ActionsSystem.UI.ShowInQuickbar'}}</span>
                </label>
              </div>
              <div class="sh-wearable-default-actions__row">
                <div class="sh-wearable-default-actions__title">{{localize 'SPACEHOLDER.ActionsSystem.Wearable.StowShort'}}</div>
                <label class="sh-custom-action-flag">
                  <input type="checkbox" name="system.defaultActions.stow.showInCombat" data-dtype="Boolean" {{#if system.defaultActions.stow.showInCombat}}checked{{/if}} />
                  <span>{{localize 'SPACEHOLDER.ActionsSystem.UI.ShowInCombat'}}</span>
                </label>
                <label class="sh-custom-action-flag">
                  <input type="checkbox" name="system.defaultActions.stow.showInQuickbar" data-dtype="Boolean" {{#if system.defaultActions.stow.showInQuickbar}}checked{{/if}} />
                  <span>{{localize 'SPACEHOLDER.ActionsSystem.UI.ShowInQuickbar'}}</span>
                </label>
              </div>
            </div>
          </div>
          {{/if}}
        </div>
      </div>
    </div>
  </section>
  </div>
</form>
